html,
body {
  height: 100%;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.test {
  color: red;
}

.bg2 {
  background: blue !important;
}

* {
  touch-action: pan-y;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
